.favoritos-slider {
    max-width: 50%;
    display: flex;
    position: relative;
    margin: 2rem auto 1.5rem auto;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.favoritos-slider button {
    flex: 1;
    padding: 1rem;
    border: none;
    background: none;
    color: #222;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.favoritos-slider button.ativa {
    color: #fff;
}

.slider-indicador {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    transition: transform 0.3s ease;
    z-index: 0;
}

.favoritos-slider::after {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 50%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateX(-50%);
    z-index: 1;
}