@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #202050 0%, #3c3c72 100%);
  /* background: radial-gradient(#3a7bbf, #1c4e80 60%, #0a1f33); POSSIVEL FUNDO*/
  background-blend-mode: screen;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;

}

.container {
  width: 100%;
  min-height: 100%;
}